<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="application-name" content="Latin Store">
    <title>Latin Store</title>
    <meta name="description" content="Create your own online shop, Sell/Buy online from home">
    <meta name="keywords" content="Shop,Home,Stores,Items,Sell,Buy,Online">
    <meta name="author" content="Ernesto Alamilla">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="header">
      <%= render 'layouts/navigation' %>
    </header>
    <main class="main" role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>